
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Poppins','sans-serif';
}

/* Header */
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}
/* left portion Start */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: white;
    width: 100%;
}
.left-icon {
    display: flex;
    gap: 8px;
    cursor: pointer;
}
span {
    font-size: 16px;
}

/* middle start */
.mid-srch {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
   border-radius: 10px;
   width: 200px;
   height: 30px;
}

.mid-srch input{
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 14px;
    color: black;
}
.mid-srch input::placeholder{
    color: black;
    font-weight: 550;
}
/* right portion Start */

.right-icon {
    display: flex;
    gap: 15px;
}
.btn1,.btn2{
    background-color: black;
    border:none;
    color:white;
    padding:5px 10px;
    border-radius: 5px;
    cursor: pointer;
   margin-right:10px;
}
.btn1:hover{
    background-color: #3a76d6;
    color:white;
}
.btn2:hover{
    background-color: #3a76d6;
    color:white;
}
.icon {
    margin: 6px 3px;
    color: black;
}

/* Navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#3a76d6;
    height: 60px;
    width: 100%;
    padding: 0 50px;
    margin-bottom: 0;
}
.logo a>h1{
    color: white;
}
.logo>.togle{
    display: none;
}
.logo a abbr>.login{
    display: none;
}
.menu{
    display: flex;
    gap: 40px;
    align-items: center;
}
.menu a{
   color: white;
   font-size: 18px;
   font-weight: bold;
   text-transform: uppercase;
}
#dropdown{
    width: 100px;
    color: white;
    background:#3a76d6;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 550;
    text-align: center;
    cursor: pointer;
}
/* Home */
.front-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../images/header.jpg) no-repeat;
     background-size: 100% 100%;
     height: 510px;
}
.front-text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin-top: 60px;
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
}
.front-text h2 {
    font-size: 50px;
    color: white;
    font-weight: bold;
}
.front-text h1 {
    font-size: 80px;
    color: white;
    font-weight: bold;
}
.front-text button{
    text-transform: uppercase;
    width: 380px;
    height: 80px;
    font-size: 40px;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: #3a76d6;
    color: white;
    cursor: pointer;
}
.front-text button:hover{
    background-color:white ;
    color: #3a76d6;
}

/* loader css */
#loader{
    background: white url(../icon/loading-waiting.gif) no-repeat center;
    height: 100vh;
    width:100%;
    z-index:5454;
    position: fixed;
}

/*  About Us */
.about-us {
    margin-top: 30px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-bottom: 20px;
}
.about-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}
.about-text h1 {
    font-size: 35px;
    text-decoration: underline;
}
.about-text h2 {
    font-size: 50px;
}
.about-text>p {
    font-size: 18px;
    text-align:justify;
}
.about-img {
    width: 30%;
}
.about-img img {
    width: 100%;
    border-radius: 10px;
    height: auto;
}
.container {
   display: flex;
   gap: 10px;
   margin-top: 10px;
}
.subject,.course,.instructor,.student {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 130px;
    background: rgb(43, 168, 43);
    color: white;
}
.subject h1,.course h1,.instructor h1,.student h1{
    text-decoration: none;
    font-size:40px ;
    text-align: center;
}
.subject p,.course p,.instructor p,.student p{
    text-align: center;
    font-size: 20px;
}
.course {
    background: rgb(76, 76, 197);
    color: white;
}
.instructor {
    background: rgb(177, 48, 48);
    color: white;
}
.student {
    background: rgb(173, 173, 5);
    color: white;
}

/* Choose US */
.choose-us{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.choose-us-text{
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: justify;
  gap: 10px;
}
.choose-us-text>h1{
    font-size:35px;
    text-decoration:underline;
}
.choose-us-text h2{
    font-size:50px;
}
.choose-icon{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 85%;
}
.skill,.certificate,.classes{
    display: flex;
    align-items: center;
    gap: 20px;
}
.skill i{
    color: pink;
    font-size: 50px;
}
.certificate i{
    color: yellow;
    font-size: 50px;
}
.classes i{
    color: blue;
    font-size: 50px;
}
.skill li,.certificate li,.classes li{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.skill h2,.certificate h2,.classes h2{
    font-size: 30px;
}
.choose-img{
    width:30%;
}
.choose-img img{
    width:100%;
    height:auto;
}

/* Our Courses */
.our-course{
    position: relative;
    top:0;
    height:670px;
}
.our-text h1{
    font-size:30px;
    text-align:center;
    text-decoration: underline;
    margin:35px 5px;
}
.our-text h2{
    margin:10px 5px;
    font-size:42px;
    text-align:center;
}
.our-course-detail{
    margin:10px 10px;
    float:left;
    width:23%;
    box-shadow:5px 5px 5px 5px grey;
    border:1px solid grey;
}
.our-course-detail img{
    margin:0px 2px;
    width:306px;
    height:320px;
}
.our-course-detail h1{
    font-size:20px;
    text-align: center;
}
.our-course-detail:hover{
    transform:scale(1.1,1.1);
}
.offer{
    position: relative;
    top:0px;
    height:300px;
}
.offer h1{
    text-align: center;
    font-size:40px;
}
.offer form{
    display:block;
    margin: auto;
    text-align: center;
    width:600px;
    height:250px;
    background:white;
    border:1px solid black;
    background:url(images/bg-image.jpg) no-repeat;
    background-size: 100% 100%;
}
.offer input{
    size:30px;
    height:35px;
    margin:5px 10px;
    padding:8px 45px;
    border-radius: 8px;
}
.selct{
    padding:10px 10px 10px 6px;
    margin:8px 21px;
    background:#06d2e0;
    color:white;
    font-size:18px;
    border:none;
    border-radius: 10px;
    text-align:center;
    cursor: pointer;
}

form>a>#signup{
    padding:10px 30px;
    margin:8px 5px;
    background:#06d2e0;
    color:white;
    font-size:18px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    }

    /* Mgmt Team */
    .instructors{
        position: relative;
        top:0;
        height:600px;
    }
    .instructors h1{
       font-size:40px;
       text-align: center;
       text-decoration: underline;
    }
    .instructors-team{
        float:left;
        width:29%;
        height:300;
        padding:1%;
        margin:1%;
        box-shadow:5px 5px 5px 5px grey;
        border:1px solid grey;
        border-radius: 20px 100px;
        background-color:#3266a8;
        color:white;
    }
    .instructors-team:hover{
        box-shadow:5px 5px 5px 5px red;
        transform:scale(1.1,1.1);
    }
    .instructors-team img{
        width:250px;
        height:250px;
        border-radius:50%;
        margin:1px 70px;
    }
    .instructors-team h1{
        font-size:24px;
        text-align:center;
        text-decoration: none;
    }
    .instructors-team p{
        font-size:18px;
        text-align:center;
    }
    .social-media{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social-media i{
        margin-left:10px
    }
    .testimonal{
        position: relative;
        top:0;
        height:550;
    }
    .testimonal h1{
      font-size:35px;
      text-decoration:underline;
      margin:10px 40px;
     }
    .text-1{
        width:45%;
        padding:10px 10px;
        margin: 5px 5px;
    }
    .text-1 h1{
        font-size:50px;
        margin: 8px 15px;
        text-decoration:none;
    }
    .text-1 p{
        font-size:20px;
        text-align: justify;
        margin:8px 10px;
    }
     .text-2{
        position:absolute;
        right:30px;
        top:60px;
        width:47%;
     }
     .text-2 div{
        text-align: justify;
        font-size: 20px;
     }
     .text-2 h1{
        display:inline-block;
        text-decoration: none;
        font-size:25px;
        margin:18px 20px;
     }
     .text-2 p{
        font-size:20px;
        margin:-65px 135px;
     }
     .text-2 img{
        vertical-align:top;
        width:90px;
        height:90px;
        margin:15px 5px;
     }

     /* Contact US */
     .contact-us{
        position:relative;
        top:0px;
        height:345px;
        padding:40px 50px;
        margin:0;
        background-color: rgb(3, 3, 26);
        color:white;
        }
      .contact-text{
        font-size:20px;
      }
      .contact-input{
        position:absolute;
        right:200px;
        top:25px;
      }
      .in{
        font-size:12px;
        padding:10px 50px;
        margin:5px 0;
        width: 400px;
        border-radius: 5px;
      }
      input[type="submit"]{
        font-family: 'Merriweather', serif;
        font-family: 'Mukta', sans-serif;
        font-family: 'Noto Serif', serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Roboto Slab', serif;
        border-style:none;
        background-color:red;
        color:white;
        font-size: 18px;
        padding:10px 20px;
        margin:10px 10px;
        border-radius: 5px;
        cursor: pointer;
      }

      /* Footer */
      
footer{
    background-color:black;
    color:white;
    text-align:center;
    margin-top:0px ;
    padding:15px 0;
    
  }
  